$main-white-text-color: #FFFFFF;
$main-white-text-color-50: #FFFFFF80;
$placeholder-grey-text-color: #D7D7D7;
$background-color: #242731;
$button-dark-blue-color: #302E5A;
$form-dark-blue-color: #303A53;
$input-dark-blue-color: #272D3D;
$button-light-blue-color: #4252D1;
$pink-color: #FF3459;
