$main-white-text-color: #ffffff;
$main-white-text-color-50: #ffffff80;
$placeholder-grey-text-color: #d7d7d7;
$background-color: #242731;
$button-dark-blue-color: #302e5a;
$form-dark-blue-color: #303a53;
$input-dark-blue-color: #272d3d;
$button-light-blue-color: #4252d1;
$pink-color: #ff3459;
