.date-button {
    color: $main-white-text-color;
    padding: 13px 0;
    border-radius: 10px;
    font: $font-14-1;
}

.pink-button {
    background: $pink-color;
    color: $main-white-text-color;
    padding: 13px 0;
    border-radius: 10px;
    font: $font-15-1;
}

form {
    background: $form-dark-blue-color;
    
}