$main-font-family: 'Gilroy', sans-serif;

$font-11-1: 600 11px/8.3px $main-font-family;
$font-11-2: 500 11px/16.4px $main-font-family;
$font-12-1: 400 12px/17.76px $main-font-family;
$font-12-2: 400 12px/21.5px $main-font-family;
$font-12-3: 400 12px/19.2px $main-font-family;
$font-12-4: 500 12px/17.88px $main-font-family;
$font-12-5: 700 12px/17.76px $main-font-family;
$font-13-1: 400 13px/24px $main-font-family;
$font-13-2: 700 13px/15.6px $main-font-family;
$font-14-1: 600 14px/14px $main-font-family;
$font-14-2: 600 14px/20.72px $main-font-family;
$font-15-1: 700 15px/24px $main-font-family;
$font-15-2: 600 15px/normal $main-font-family;
$font-16-1: 600 16px/24px $main-font-family;
$font-16-2: 800 16px/normal $main-font-family;
$font-18-1: 400 18px/26.64px $main-font-family;
$font-20-1: 700 20px/23.3px $main-font-family;
$font-22-1: 600 22px/normal $main-font-family;
$font-22-2: 700 22px/26px $main-font-family;
$font-23-1: 800 23.6px/normal $main-font-family;
$font-53-1: 800 53px/normal $main-font-family;
$font-77-1: 800 77px/normal $main-font-family;

