* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
//   width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
}
